Flask
azure-common==1.1.24
azure-nspkg==3.0.2
# azure-storage==0.36.0
azure-storage-blob==12.14.0
pylint==2.6.0
waitress==1.0.1
azure-cosmos==4.3.0
werkzeug
azure-cognitiveservices-vision-computervision
pillow
oauthlib
pyOpenSSL
Flask-Login
Flask-Caching
google-auth==1.27.0
google-auth-oauthlib==0.4.2
oauthlib
requests==2.25.1
requests-oauthlib==1.3.0