<!doctype html>
<head>
    <title>Hello Azure - Python Quickstart</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>
<html>
   <body>
     <main>
        <div class="px-4 py-3 my-2 text-center">
            <img class="d-block mx-auto mb-4" src="{{ url_for('static', filename='images/azure-icon.svg') }}" alt="Azure Logo" width="192" height="192"/>
            <!-- <img  src="/docs/5.1/assets/brand/bootstrap-logo.svg" alt="" width="72" height="57"> -->
            <h1 class="display-6 fw-bold text-primary">Welcome to GeoMarket</h1>  
            <h3 class="display-6 fw-bold text-secondary">Make a Post</h3>            
          </div>
        <form method="post" action="{{url_for('hello')}}">
            <div class="col-md-6 mx-auto text-center">
                <label for="name" class="form-label fw-bold fs-5">Item Name</label>
                <div class="d-grid gap-2 d-sm-flex justify-content-sm-center align-items-center my-1">
                    <input type="text" class="form-control" id="name" name="name" style="max-width: 256px;">
                  </div>            

                  <label for="category" class="form-label fw-bold fs-5">Item Description</label>

                  <div class="d-grid gap-2 d-sm-flex justify-content-sm-center align-items-center my-1">
                    <textarea id="description" name="description" rows="4" cols="50" placeholder="Enter brief description here..."></textarea>
                  </div>

                  <label for="user_id" class="form-label fw-bold fs-5">Seller Name</label>

                  <div class="d-grid gap-2 d-sm-flex justify-content-sm-center align-items-center my-1">
                    <textarea id="user_id" name="user_id" rows="4" cols="50" placeholder="Enter your name ..."></textarea>
                  </div>

                  
                <div class="d-grid gap-2 d-sm-flex justify-content-sm-center my-2">
                  <button type="submit" class="btn btn-primary btn-lg px-4 gap-3">Submit Post</button>
                </div>            
                <p>{{msg}}</p>
            </div>
        </form>
     </main>      
   </body>
</html>c