<!doctype html>
<head>
    <title>Listing Site</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <script src="{{url_for('static', filename='js/messages.js')}}"></script>
</head>
<html>
   <body onload="reset_message()">
     <main>
        <div class="px-4 py-3 my-2 text-center">
            <!-- <img class="d-block mx-auto mb-4" src="{{ url_for('static', filename='images/azure-icon.svg') }}" alt="Azure Logo" width="192" height="192"/> -->
            <!-- <img  src="/docs/5.1/assets/brand/bootstrap-logo.svg" alt="" width="72" height="57"> -->
            <h1 class="display-6 fw-bold text-primary">Welcome to the listing site!</h1>            
          </div>
        <form method="GET" action="{{url_for('query')}}">
          <div class="d-grid gap-2 d-sm-flex justify-content-sm-center my-2">
            <button type="submit" class="btn btn-primary btn-lg px-4 gap-3">Go to query!</button>
          </div>
        </form>
        <form method="post" action="{{url_for('hello')}}">
            <div class="col-md-6 mx-auto text-center">
                <label for="name" class="form-label fw-bold fs-5">What item / service do you want to list?</label>

                <!-- <p class="lead mb-2">Could you please tell me your name?</p> -->
                <div class="d-grid gap-2 d-sm-flex justify-content-sm-center align-items-center my-1">Item / Service Name: 
                    <input type="text" class="form-control" id="name" name="name" style="max-width: 256px;">
                  </div>            

                  <div class="d-grid gap-2 d-sm-flex justify-content-sm-center align-items-center my-1">
                    <textarea id="freeform" name="freeform" rows="4" cols="50" placeholder="Enter item/service description here..."></textarea>
                  </div>

                <div>
                  <p>Pictures can be uploaded on the next page.</p>
               </div>
                  
                <div class="d-grid gap-2 d-sm-flex justify-content-sm-center my-2">
                  <button type="submit" class="btn btn-primary btn-lg px-4 gap-3">Add item!</button>
                </div>            
                <p id="message_to_user">{{msg}}</p>
            </div>
        </form>
     </main>  
     <script>
      if (!!window.SharedWorker && navigator.geolocation) {
            var worker = new SharedWorker("{{url_for('static', filename='common.js')}}");
            worker.port.start(); 
            worker.port.onmessage = function(e){}; 
            navigator.geolocation.getCurrentPosition(sendLocation);
            function sendLocation(position) {
                    const msg = {
                        lat : position.coords.latitude,
                        lon : position.coords.longitude,
                        host : '{{host}}',
                        user_id : '{{user_id}}'
                    }
                    worker.port.postMessage(msg);
                    console.log('{{user_id}}');
                }
        }
     </script>
     
   </body>
</html>